---
const currentYear = new Date().getFullYear();
---

<div class="text-center mt-12">
  <p class="text-sm font-body font-light text-gray-600 tracking-wider">
    © {currentYear} Clark Sell
  </p>
</div>
