---
import LinkButton from './LinkButton.astro';

export interface Props {
  href: string;
  title: string;
  icon: string;
}

const { href, title, icon } = Astro.props;
---

<LinkButton href={href}>
  <div slot="icon" class="w-8 h-8 mr-4 flex items-center justify-center text-gray-600 dark:text-gray-300 group-hover:text-gray-900 dark:group-hover:text-white transition-colors duration-300">
    <div class="w-6 h-6" set:html={icon}></div>
  </div>
  <span slot="title" class="font-body font-semibold text-lg tracking-tighter group-hover:text-gray-900 dark:group-hover:text-white transition-colors duration-300">{title}</span>
</LinkButton>